  {% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/pero.png" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/pero.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/pero.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/pero.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min3.css' %}">
    <style>
      body{
        background-color: burlywood;
      }
    </style>
    <title>
    {% block title %}
    Лева
    {% endblock %}
    </title>            
  </head>
  <body>       
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
  </body>
</html> 	
