<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
   Меня зовут Давид Заде и я с самого детства мечтаю стать программистом, 
</p>
<p>
   я привык упорно идти к своим целям и я готов отдать много времени и сил для их достижения
</p>
<p>
   хорошо владею языком Python, умею работать с Базами Данных / SQL ( PostgreSQL, MySQL, SQLite), усердно изучаю Django 
</p>
<p>
   знаю все основные алгоритмы и структуры данных, многие могу реализовать, постоянно продолжаю совершенствоваться в них и решений различных алгоритмических задач
</p>
<p>
   Хорошо знаю принципы и концепцию ООП, до фронтендера мне далековато, но для бэка наверстать могу, работал с HTML, CSS и такими языками, как C++, Java, C, JavaScript и даже Assembler :)
</p>
<p>
  на данный момент я являюсь студентом Факультета Информационных Технологий и Анализа Больших Данных
</p>
<p>
  желаю всем хорошего дня!
</p>
{% endblock %} 
